{% extends "base.html" %}

{% block header %}
    {% include 'header.html' %}
{% endblock%}

{% block body %}
<div class="container">
    <div class="row" style="padding-top:20px; margin-bottom:30px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            {% for item in about %}
                {% if item.picture %}
                    <img src="{% url 'getAboutPicture' item.id %}" alt="" width=100%>
                {% endif %}
                {{ item.description|safe }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
