{% extends "base.html" %}
{% load cropping thumbnail %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block body %}
    {% if user.is_superuser %}
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-top:20px;">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left:0px;">
                    {% if profile.picture %}
                        <img src="{% cropped_thumbnail profile cropPicture %}" width="100%" class="thumbnail img-rounded" style="margin-bottom: 10px;"/>
                    {% else %}
                        <img src="/static/icon/default_profile_icon.jpg" width="100%" class="thumbnail img-rounded" style="margin-bottom: 10px;"/>
                    {% endif %}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left:0px; padding-top:80px;">
                    <h4>Admin</h4>
                </div>
            </div>
            <div class="row">
                <ul class="nav nav-sidebar" id="sidebar">
                  <li><a onclick="scrolltosection('Slideshow')">Slideshow</a></li>
                  <li><a onclick="scrolltosection('News')">News</a></li>
                  <li><a onclick="scrolltosection('About')">About</a></li>
                  <li><a onclick="scrolltosection('Admission')">Admission</a></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 two-col-right-panel">
            <!--<div class="row" id="AdminProfile" style="margin-bottom:30px;">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <h3>Profile</h3>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-top:10px;">
                        <a class="icon-link" href="{% url 'editAdminProfile' %}"><h5><span class="label label-default"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit</span></h5></a>
                    </div>
                </div>
                <p>Privileges: Admin User</p>
                <p>Phone:</p>
                <p>Bio:</p>
            </div>-->

            <div class="row" id="Slideshow" style="margin-bottom:30px;">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <h3>Slideshow</h3>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right" style="padding-top:10px;">
                        <a class="icon-link" href="{% url 'mySlides' %}"><h5><span class="label label-default"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Add</span></h5></a>
                    </div>
                </div>
                    {% for slide in slides %}
                    <p hidden>{% cycle 1 2 3 as row_index %}</p>
                        {% if row_index == 1 %}
                            <div class="row" style="margin-top:15px; margin-bottom:15px;">
                        {% endif %}
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                {% if slide.picture %}
                                    <a href="#" class="thumbnail img-rounded" style="margin-bottom: 10px;"><img src="{% cropped_thumbnail slide cropPicture %}" alt="" width=100%></a>
                                {% endif %}
                                <p>{{ slide.description }}</p>
                                <p style="font-size:10px; margin-top:0px;"><a href="{% url 'deleteSlide' slide.id %}" style="color:red;"> - Delete</a></p>
                            </div>
                        {% if row_index == 3 %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if not slides|length|divisibleby:3 %}
                        </div>
                    {% endif %}
            </div>

            <div class="row" id="News" style="margin-bottom:30px;">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <h3>News</h3>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right" style="padding-top:10px;">
                        <a class="icon-link" href="{% url 'addNewsPost' %}"><h5><span class="label label-default"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Add</span></h5></a>
                    </div>
                </div>
                <div class="row">
                    {% for post in news %}
                    <p hidden> {% cycle 1 2 3 as index %}</p>
                    {% if index == 1 %}
                        <div class="row" style="margin-top:15px; margin-bottom:15px;">
                    {% endif %}
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            {% if post.picture %}
                            <a href="{% url 'seeNewsPost' post.id %}" class="thumbnail img-rounded" style="margin-bottom: 10px;">
                                <img src="{% cropped_thumbnail post cropPicture %}" />
                            </a>
                            {% endif %}

                            <h5>{{ post.topic }}</h5>
                            <p>{{ post.dateTime }}</p>
                            <p>{{ post.description|truncatewords:50 }}</p>
                            <p style="font-size:10px; margin-top:0px;">
                                <a href="{% url 'editNewsPost' post.id %}" style="color:blue;"> - Edit</a>&nbsp;&nbsp;&nbsp;<a href="{% url 'deleteNewsPost' post.id %}" style="color:red;"> - Delete</a>
                            </p>
                        </div>
                        {% if index == 3 %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if not news|length|divisibleby:3 %}
                        </div>
                    {% endif %}
                </div>
            </div>
            
            <div class="row" id="About" style="margin-bottom:30px;">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <h3>About</h3>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right" style="padding-top:10px;">
                        <a class="icon-link" href="{% url 'myAbout' %}"><h5><span class="label label-default"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit</span></h5></a>
                    </div>
                </div>
                <div class="row panel panel-default" style="padding-left:15px;">
                    <p> {{ about.description|safe }} </p>
                </div>
            </div>

            <div class="row" id="Admission">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <h3>Admission</h3>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right" style="padding-top:10px;">
                        <a class="icon-link" href="{% url 'myAdmission' %}"><h5><span class="label label-default"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit</span></h5></a>
                    </div>
                </div>
                <div class="row panel panel-default" style="padding-left:15px;">
                    <p> {{ admission.description|safe }} </p>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-top:20px;">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left:0px;">
                    <a href="{% url 'editProfile' %}" class="thumbnail img-rounded" style="margin-bottom: 10px;">
                        {% if profile.picture %}
                            <img src="{% cropped_thumbnail profile cropPicture %}" width="100%"/>
                        {% else %}
                            <img src="static/icon/default_profile_icon.jpg" width="100%"/>
                        {% endif %}
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left:0px; padding-top:80px;">
                    <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                </div>
            </div>
            <div class="row" class="sidebar-scrollSpy">
                <ul class="nav nav-sidebar" id="sidebar">
                  <li><a onclick="scrolltosection('Profile')">Profile</a></li>
                  <li><a onclick="scrolltosection('Projects')">Projects</a></li>
                  <li><a onclick="scrolltosection('Papers')">Papers</a></li>
                  <li><a onclick="scrolltosection('Posts')">Posts</a></li>
                </ul>
            </div>
        </div>

        <!--<div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 col-xs-9 col-xs-offset-3" style="padding-top:20px; padding-left:40px;">-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="padding-top:10px; padding-left:40px;">
            <div class="row" id="Profile" style="margin-bottom:30px;">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <h3>Profile</h3>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right" style="padding-top:10px;">
                        <a class="icon-link" href="{% url 'editProfile' %}"><h5><span class="label label-default"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit</span></h5></a>
                    </div>
                </div>
                <p>Name: {{profile.user.first_name}} {{profile.user.last_name}}</p>
                <p>Privileges: Private User</p>
                <p>Degree: {{ profile.degree }}</p>
                <p>Email: <a href="mailto:{{ profile.email }}">{{ profile.email }}</a></p>
                <p>Website: <a href="{{ profile.website }}" target="_blank">{{ profile.website }}</a></p>
                <p>Phone: {{ profile.phone }}</p>
                <p style="word-wrap: break-word">Bio: {{ profile.bio }}</p>
            </div>

            <div class="row" id="Projects" style="margin-bottom:30px;">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <h3>Projects</h3>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right" style="padding-top:10px;">
                        <a class="icon-link" href="{% url 'addProject' %}"><h5><span class="label label-default"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add</span></h5></a>
                    </div>
                </div>

                {% for project in projects %}
                    {% if forloop.counter0|divisibleby:3 %}
                        <div class="row">
                    {% endif %}
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <a class="thumbnail img-rounded" href="{% url 'seeProject' project.id %}"><!--img src="{% url 'getProjectPicture' project.id %}" alt="" width=100%-->{% if project.picture %}<img src="{% cropped_thumbnail project cropPicture %}" width="100%"/>{% endif %}</a>
                            <a href="{% url 'seeProject' project.id %}"><h5>{{ project.topic }}</h5></a>
                            <p style="font-size:10px; margin-top:0px;"><a href="{% url 'editProject' project.id %}" style="color:blue;"> - Edit</a>&nbsp;&nbsp;&nbsp;<a href="{% url 'deleteProject' project.id %}" style="color:red;"> - Delete</a></p>
                        </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div>
                    {% endif %}
                {% endfor %}
                {% if not projects|length|divisibleby:3 %}
                    </div>
                {% endif %}
            </div>
            
            <div class="row" id="Papers" style="margin-bottom:30px;">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <h3>Papers</h3>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right" style="padding-top:10px;">
                        <a class="icon-link" href="{% url 'addPaper' %}"><h5><span class="label label-default"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add</span></h5></a>
                    </div>
                </div>
                <div class="row">
                    {% for paper in papers %}
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3" style="padding-top:10px; padding-left:0px; padding-right:0px;">
                                <a href="{% url 'viewPaper' paper.id %}"><img src="static/icon/pdf_icon.png" width="100%"/></a>
                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-9 col-xs-9" style="padding-top:0px; padding-bottom:0px;">
                                <a href="{% url 'viewPaper' paper.id %}"><h5> {{ paper.topic }} </h5></a>
                                <p>{{ paper.description }}</p>
                                <p style="font-size:10px; margin-top:0px;"><a href="{% url 'deletePaper' paper.id %}" style="color:red;"> - Delete</a></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>


            <div class="row" id="Posts" style="margin-bottom:30px;">
                <div class="row">
                    <div class="col-lg-9 col-md-10 col-sm-10 col-xs-10">
                        <h3>Posts</h3>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2 text-right" style="padding-top:10px;">
                        <h5>
                            <a class="icon-link" href="{% url 'ideaforum' %}"><span class="label label-info"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Forum</span></a>
                            <a class="icon-link" href="{% url 'addPost' %}"><span class="label label-default"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add</span></a>
                        </h5>
                    </div>
                </div>
                    {% for post in posts reversed %}
                        <div class="row" style="margin-left:0px;">
                            <p>
                                <a href="{% url 'viewPost' post.id %}" style="color:blue;">{{ post.topic|truncatewords:50 }}</a></br>
                                <a href="{% url 'deletePost' post.id %}" style="color:red; font-size:10px; margin-top:0px;"> - Delete</a>
                            </p>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

