{% extends "base.html" %}
{% load cropping thumbnail %}


{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-top:20px;">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left:0px;">
                <a href="{% url 'editProfile' %}" class="thumbnail img-rounded" style="margin-bottom: 10px;">
                    {% if profile %}
                        <img src="{% cropped_thumbnail profile cropPicture %}" />
                    {% else %}
                        <img src="static/icon/default_profile_icon.jpg" width="100%"/>
                    {% endif %}
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left:0px; padding-top:80px;">
                <h4>Admin</h4>
            </div>
        </div>
        <div class="row">
            <ul class="nav nav-sidebar" id="sidebar">
                <li><a href="{% url 'myAccount' %}#Slideshow">Slideshow</a></li>
                <li><a href="{% url 'myAccount' %}#News">News</a></li>
                <li><a href="{% url 'myAccount' %}#About">About</a></li>
                <li class="active"><a href="{% url 'myAccount' %}#Admission">Admission</a></li>
            </ul>
        </div>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 two-col-right-panel">
        <div class="row" style="margin-bottom:30px;">
            <h2 style="padding-left:15px;">Update the Admission page</h2>
        </div>
        <div class="row" style="padding-left:15px;">
            <form enctype="multipart/form-data" action="{% url 'editAdmission' %}" method="post">
                <div class="form-group">
                    <label for="about">Admission:</label>
                    <textarea rows="20" id="about" name="description" class="form-control" placeholder="Write the html code for Admission here">{{ admission.description }}</textarea>
                    <label for="picture" style="margin-top:10px;">Picture:</label>
                    <input type="file" id="picture" name="picture" multiple>
                </div>

                <div class="form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:10px; padding-left:0px;">
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" style="padding-left:0px;">
                            <input type="submit" value="Update" class="btn btn-success btn-block"/>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" style="padding-left:0px;">
                            <a href="{% url 'myAccount' %}" class="icon-link"><input type="button" class="btn btn-primary btn-block" value="Cancel" /></a>
                        </div>
                    </div>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

