{% extends "base.html" %}
{% load thumbnail cropping %}

{% block head %}
    {{ slide_form.media }}
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-top:20px;">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left:0px;">
                <img src="/static/icon/default_profile_icon.jpg" width="100%" class="thumbnail img-rounded" style="margin-bottom: 10px;"/>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left:0px; padding-top:80px;">
                <h4>Admin</h4>
            </div>
        </div>
        <div class="row">
            <ul class="nav nav-pills nav-stacked" id="sidebar">
              <li class="active"><a href="{% url 'myAccount' %}#Slideshow">Slideshow</a></li>
              <li><a href="{% url 'myAccount' %}#News">News</a></li>
              <li><a href="{% url 'myAccount' %}#About">About</a></li>
              <li><a href="{% url 'myAccount' %}#Admission">Admission</a></li>
            </ul>
        </div>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 two-col-right-panel">
        <div class="row" style="margin-bottom:30px;">
            <h2 style="padding-left:15px;">Add a new slide</h2>
        </div>
        <div class="row" style="padding-left:15px;">
            <form enctype="multipart/form-data" action="{% url 'editSlide' %}" method="post" class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:15px;">
                        <label for="id_picture">Picture:</label>
                        <input id="id_picture" name="picture" type="file" required />
                        {{ slide_form.cropPicture }}
                    </div>
                        
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:15px;">
                        <label for="Description" style="padding-left:0px;">Description:</label>
                        <textarea id="Description" class="form-control" rows="2" name="description" placeholder="Write the description here">{{ slide.description }}</textarea>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;">
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" style="padding-top:10px;">
                            <button type="submit" class="btn btn-success btn-block" style="width=50px;">Add</button>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" style="padding-top:10px;">
                            <a href="{% url 'myAccount' %}"><button type="button" class="btn btn-primary btn-block">Cancel</button></a>
                        </div>
                    </div>
                {% csrf_token %}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

