{% extends "base.html" %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block body %}
<div class="container">
    <form method="post" action="{% url 'register' %}" class="form-signin" style="margin-top:4%; margin-bottom:6%;" role="form">
        <h2 style="margin-bottom:30px;"><b>Sign Up</b></h2>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:15px;">
                <input type="text" class="form-control" name="username" placeholder="Email" value="{{ username }}" required autofocus/>
                {% if emailError %}
                    <p class="error-register-hint">{{ emailError }}</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:15px;">
                <input type="text" class="form-control" name="firstName" placeholder="First Name" value="{{ firstName }}" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:15px;">
                <input type="text" class="form-control" name="lastName" placeholder="Last Name" value="{{ lastName }}" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:15px;">
                <input type="password" class="form-control" name="password1" placeholder="Password" required/>
                {% if passwordError %}
                    <p class="error-register-hint">{{ passwordError }}</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:15px;">
                <input type="password" class="form-control" name="password2" placeholder="Confirm Password" required/>
                {% if passwordError %}
                    <p class="error-register-hint">{{ passwordError }}</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:15px;">
                <input type="submit" class="btn btn-success btn-block" value="Sign Up" style="width:100%;"/>
            </div>
        </div>
        {% csrf_token %}
    </form>
</div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock%}
